<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Portal Grupo Desportivo</title>

  {% load static %}
  <link rel="stylesheet" href="{% static '/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1><span class="blue"></span>Grupo Desportivo<span class="blue"></span> <span class="yellow">Portal</span></h1>

<table>
	<thead>
		<tr>
			<th><h2><a href="/campeonatos">Campeonatos</a></h2></th>
			<th><h2><a href="/equipas">Equipas</a></h2></th>
			<th><h2><a href="/jogos">Jogos</a></h2></th>
			<th><h2><a href="/jogadores">Jogadores</a></h2></th>
		</tr>
	</thead>
</table>

{% block content %}
{% endblock %}

<a href="/changelog" class="button4">Changelog</a><br>
<a href="/xml" class="button4">XML</a>

</body>
</html>
