{% extends 'index.html' %}

{% block content %}

<p class="j1">{{ jogador.nome }}</p>

<p class="j2">{{ jogador.genero }} | {{ jogador.datanasc }} | {{ idade }} anos</p>


<h3>Equipas:</h3><br>
<ul class="j2">
	{% if not lista_equipas %}
		Este jogador não joga em nenhuma equipa
	{% endif %}
	{% for equipa in lista_equipas %}
		<li><b>{{ equipa.modalidade }}:</b> <a href="/equipas/{{ equipa.equipa_id }}">{{ equipa.equipa_nome }}</a></li>
	{% endfor %}
</ul>


<h3>Estatísticas:</h3><br>

<!-- Table Futebol -->
{% if stats_futebol %}
<b style="margin-left:10%">Futebol</b>
<table class="container">
  	<tr>
 		<th>Ano</th>
 		<th>Equipa</th>
    	<th>Partidas disputadas</th>
	 	<th>Golos</th>
	 	<th>Cartões Amarelos</th>
	 	<th>Cartões Vermelhos</th>
  	</tr>
  	{% for stat in stats_futebol %}
	<tr>
		<td>{{ stat.ano }}</td>
		<td>{{ stat.equipa.nome }}</td>
		<td>{{ stat.num_jogos }}</td>
		<td>{{ stat.num_golos }}</td>
		<td>{{ stat.num_car_ama }}</td>
		<td>{{ stat.num_car_ver }}</td>
  	</tr>
	{% endfor %}
	<tr>
		<td></td>
		<td></td>
		<td><b>{{ total_jogos }}</b></td>
		<td><b>{{ total_golos }}</b></td>
		<td><b>{{ total_carama }}</b></td>
		<td><b>{{ total_carver }}</b></td>
  	</tr>
</table>
{% endif %}


<!-- Table Basquetebol -->
{% if stats_basquetebol %}
<b style="margin-left:10%">Basquetebol</b>
<table class="container">
	<tr>
		<th>Ano</th>
		<th>Equipa</th>
		<th>Partidas disputadas</th>
		<th>Cestos - 1 ponto</th>
		<th>Cestos - 2 pontos</th>
		<th>Cestos - 3 pontos</th>
		<th>Exclusões</th>
	</tr>
	{% for stat in stats_basquetebol %}
	<tr>
		<td>{{ stat.ano }}</td>
		<td>{{ stat.equipa.nome }}</td>
		<td>{{ stat.num_jogos }}</td>
		<td>{{ stat.num_cestos1 }}</td>
		<td>{{ stat.num_cestos2 }}</td>
		<td>{{ stat.num_cestos3 }}</td>
		<td>{{ stat.num_exclusoes }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}


<!-- Table Voleibol -->
{% if stats_voleibol %}
<b style="margin-left:10%">Voleibol</b>
<table class="container">
  	<tr>
 		<th>Ano</th>
 		<th>Equipa</th>
    	<th>Partidas disputadas</th>
	 	<th>Pontos marcados</th>
  	</tr>
  	{% for stat in stats_voleibol %}
	<tr>
		<td>{{ stat.ano }}</td>
		<td>{{ stat.equipa.nome }}</td>
		<td>{{ stat.num_jogos }}</td>
		<td>{{ stat.num_pontos }}</td>
  	</tr>
	{% endfor %}
</table>
{% endif %}


<!-- Table Tenis -->
{% if stats_tenis %}
<b style="margin-left:10%">Ténis</b>
<table class="container">
	<tr>
		<th>Ano</th>
		<th>Partidas disputadas</th>
		<th>Sets ganhos</th>
	</tr>
	{% for stat in stats_tenis %}
	<tr>
		<td>{{ stat.ano }}</td>
		<td>{{ stat.num_jogos }}</td>
		<td>{{ stat.num_sets }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}


<!-- Table Andebol -->
{% if stats_andebol %}
<b style="margin-left:10%">Andebol</b>
<table class="container">
  	<tr>
 		<th>Ano</th>
 		<th>Equipa</th>
		<th>Partidas disputadas</th>
		<th>Pontos</th>
		<th>Exclusões</th>
  	</tr>
  	{% for stat in stats_andebol %}
	<tr>
		<td>{{ stat.ano }}</td>
		<td>{{ stat.equipa.nome }}</td>
		<td>{{ stat.num_jogos }}</td>
		<td>{{ stat.num_pontos }}</td>
		<td>{{ stat.num_exclusoes }}</td>
  	</tr>
	{% endfor %}
</table>
{% endif %}


<h3>Registo de Eventos:</h3><br>

<table class="container">
	<tr>
		<th>Dia do Jogo</th>
	    <th>Modalidade</th>
		<th>Tipo do Evento</th>
		<th>Parte do Jogo</th>
		<th>Tempo</th>
	</tr>
	{% for e in eventos %}
	<tr>
		<td>{{ e.dia }}</td>
		<td>{{ e.modalidade }}</td>
		<td>{{ e.evento }}</td>
		<td>{{ e.parte }}</td>
		<td>{{ e.tempo }}</td>
	</tr>
	{% endfor %}
</table>


<form method="POST"> {% csrf_token %}
	<input class="modelForm" type='submit' value='Apagar jogador'/>
</form>


{% endblock %}